<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"routerLink="home" href="#"><strong>COMPLETE APP</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding: 10px;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" href="#">Home</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="formValidation" href="#">Template Form</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="formValidation_second" href="#">Reactive Form</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="employee" href="#">Employee Details</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="products" href="#">Product Details</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="firstguard" href="#">PageGaurded1</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" routerLink="secondguard" href="#">PageGaurded2</a>
      </li>
     
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>
